/* Contact page layout */
.contact-page {
	border-width: 0.1rem;
}

.contact-page .entry {
	padding: 36px 4% 24px; padding-top: 3.6rem; padding-bottom: 2.4rem;
}

.contact-page .ninja-forms-form-wrap {	
	padding: 36px 4% 24px; padding-top: 3.6rem; padding-bottom: 2.4rem;	
	border-top: 1px solid;
}

/* Greater than 600px ***/

@media all and (min-width: 37.5em) {
	.contact-page {
		border: none;
		box-shadow: none;
	}

	.contact-page .entry {
		float: right;
		width: 30%;
		padding-left: 0;
		padding-right: 0;
		padding-top: 3.6rem;
	}

	.contact-page .ninja-forms-form-wrap {
		float: left;		
		width: -webkit-calc(68% - 6.2rem);
		width: -moz-calc(68% - 6.2rem);
		width: calc(68% - 6.2rem);
		padding-left: -webkit-calc(3rem);
		padding-left: -moz-calc(3rem);		
		padding-left: calc(3rem);
		padding-right: -webkit-calc(3rem);
		padding-right: -moz-calc(3rem);
		padding-right: calc(3rem);
		margin-bottom: 3.6rem;
		border-width: 0.1rem;
		border-style: solid;
		border-radius: 0 0 0.4rem 0.4rem;
	}
}

/* General styling */
.ninja-forms-form-wrap .ninja-forms-form .text-wrap.label-inside input, .ninja-forms-form-wrap .ninja-forms-form .textarea-wrap.label-inside textarea {
	max-width: 93%;
}

.ninja-forms-form-wrap .ninja-forms-form .text-wrap.label-inside input.ninja-forms-req, .ninja-forms-form-wrap .ninja-forms-form .textarea-wrap.label-inside textarea.ninja-forms-req {
	max-width: 88%;
}

.ninja-forms-req-symbol {	
	position: relative;
	/*top: 11px; top: 1.1rem;*/
	vertical-align: top;
}

.ninja-forms-field-error {
	font-style: italic;
	text-indent: 12px; text-indent: 1.2rem;
}

.field-wrap, #ninja_forms_required_items {
	margin-bottom: 12px; margin-bottom: 1.2rem;
}
